In [1]:
from investpy.stocks import get_stock_historical_data as gshd
from datetime import datetime, timedelta
import pandas as pd
import os

In [10]:
samsung = gshd('005930', 'south korea', '01/01/2018', '16/04/2020')
samsung

               Open     High      Low    Close    Volume Currency
Date
2018-01-02  51380.0  51400.0  50780.0  51020.0   8464150      KRW
2018-01-03  52540.0  52560.0  51420.0  51620.0   9923850      KRW
2018-01-04  52120.0  52180.0  50640.0  51080.0  11638950      KRW
2018-01-05  51300.0  52120.0  51200.0  52120.0   9328600      KRW
2018-01-08  52400.0  52520.0  51500.0  52020.0   8364250      KRW
...             ...      ...      ...      ...       ...      ...
2020-04-12  49250.0  49250.0  49250.0  49250.0         0      KRW
2020-04-13  48700.0  48900.0  48300.0  48300.0      4935      KRW
2020-04-14  48800.0  49200.0  48300.0  49000.0  14095702      KRW
2020-04-15  49000.0  49000.0  49000.0  49000.0         0      KRW
2020-04-16  49150.0  49200.0  48550.0  49000.0      3768      KRW

[639 rows x 6 columns]

In [11]:
articles = pd.read_csv('.\\articles_ko_samsung.csv', encoding='utf-8', sep=',')
articles

,date,station,title,url,target
0,2018-01-01,전자신문,스마트폰 원거리 사진 촬영 가능해진다...삼성전기 특허 출원,https://m.etnews.com/news/article.html?id=2017...,삼성전자
1,2018-01-01,한겨레,삼성전자·SK하이닉스 미국서 SSD 특허침해 소송 당해,http://www.hani.co.kr/arti/economy/marketing/8...,삼성전자
2,2018-01-02,한경닷컴,"삼성전자 사내벤처 C랩, 서울대에 둥지 틀다",https://www.hankyung.com/economy/article/20180...,삼성전자
3,2018-01-02,조선비즈,"연간 영업이익 50조 시대 열리나⋯삼성전자, 9일 잠정실적 발표",https://biz.chosun.com/site/data/html_dir/2018...,삼성전자
4,2018-01-02,조선비즈,"가파른 성장세 보이는 프리미엄 TV 시장, 삼성전자 독주",https://biz.chosun.com/site/data/html_dir/2018...,삼성전자
...,...,...,...,...,...
2064,2020-04-16,이데일리 SPN,"삼성전자서비스, 직고용 이후 '비용 최소화·서비스 향상' 두 토끼 ...",https://www.edaily.co.kr/news/read?newsId=0385...,삼성전자
2065,2020-04-16,미디어데일,삼성전자 전 세계 5G 상용 구축 위해 자일링스와 협력,http://www.mediadale.com/news/articleView.html...,삼성전자
2066,2020-04-16,전자신문,삼성 '192단 낸드' 양산 임박…메모리 '초격차' 더 벌린다,https://m.etnews.com/20200416000198,삼성전자
2067,2020-04-16,이투데이,"[투자유망상품] 삼성증권, 삼성전자에 투자하는 '슈팅업ELS'",http://www.etoday.co.kr/news/view/1884560,삼성전자
2068,2020-04-16,전자신문,[사설]위기에 더 빛나는 삼성의 반도체 초격차,https://m.etnews.com/20200416000256,삼성전자

In [21]:
articles_dates = list(pd.to_datetime(articles.date))
kospi_dates = list(samsung.index)

In [31]:
data = [[], []]
columns = ['date', 'updown']
for date in articles_dates:
    if date in kospi_dates:
        idx = kospi_dates.index(date)
        if idx != len(kospi_dates) - 1:
            diff = samsung.iloc[idx, 3] - samsung.iloc[idx, 0]
            if diff >= 0:
                data[1].append(1)
            else:
                data[1].append(0)
            data[0].append(date)
        else:
            data[1].append(1)
            data[0].append(date)
    else:
        for compare in kospi_dates:
            if abs(compare - date) <= timedelta(days=1):
                idx = kospi_dates.index(compare)
                break
        if idx != 0:
            diff = samsung.iloc[idx, 3] - samsung.iloc[idx - 1, 0]
            if diff >= 0:
                data[1].append(1)
            else:
                data[1].append(0)
            data[0].append(date)
        else:
            data[1].append(1)
            data[0].append(date)

In [34]:
new_df = pd.DataFrame(data).T
new_df.columns = columns

In [35]:
new_df.set_index('date', inplace=True)
new_df.to_csv('.\\label_ko_samsung.csv', encoding='utf-8', sep=',')